
#tieude-1{
    color:aqua;
    background-color:black;
}
.tieude-2{
    color:blue;
    background-color:antiquewhite;
}
div.web4{
    color:rgb(4, 255, 0);
    background-color:rgb(169, 5, 65);
}
{
    div.b{
        color:blue;

    }
}
p{
    margin:25px 50px 75px 100px;
}
h4{
    color:brown;
    margin: 25px 50px 75px 100px;
}
div {
    color:blueviolet;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
li {
  display: inline;
}

